### Build and Compilation ###
/target/
/bin/

### Editor ###
.settings/
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
/.project
/.classpath
.pydevproject
*.iml
.idea
.vscode/
*.swp
*.swo
*~

### Logs ###
*.log
spring-shell.log

### Documentation ###
**/site/sphinx/build/*

### Docker ###
*compose*.yml
!compose.yml
