/target/
.settings
/bin/
/.project
/.classpath
.pydevproject
*.iml
*.log
**/site/sphinx/build/*
.idea

### Eclipse ###
.settings/org.eclipse.jdt.core.prefs

### Docker ###
docker-compose-local*

### Spring ###
spring-shell.log